<div class="search">
    {{#each allArtists}}
        {{!-- <li> --}}
        <a href='/artist/{{id}}'>
            {{name}}
        </a>

        <img src="{{images.0.url}}" />   {{!--On HANDLEBARS never [], always DOT.xpto, even in arrays --}}
            

        <form method='GET' action='/albums/{{id}}'>
        <button type='submit'>View Albums</button>
        </form>

        {{!-- </li> --}}
    {{/each}}
</div>
