<div class="homeRow">

    <form class="artist" method='GET' action='/artist-search'>
    
    <input type='text' name='artistName' />

    <button type='submit'>Search for an Artist</button>
    </form>


</div>